@page

<div class="text-center">
    <h1 class="display-4" style="background-color: hotpink;">Critiques</h1>
</div>

<p>This Web application provides all type of services for both consumers and providers whereas other applications only
    provide single task where you don't get option to choose provider according to your need.
    If any consumer visits this web application they can choose provider according to their 
    need and affordability. Once they choose a specific provider. The provider will then give them estimated time
    in which they will perform their tasks. This Web application is user friendly and convenient.</p>