@page
@model IndexModel
@{
    ViewData["Title"] = "Goal";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0"> 

</head>
<body> 
    <div class="images-container">
        <img src="/css/images/banner.png.png" width="1200" height="200" class="img-thumbnail">
       
    </div>
</body>
<div class="text-center">
    <h1 class="display-4" style="color: red; background-color: black;">Goal</h1>
</div>

<p style ="color:darkred;">
    <b>RetroFix</b> app provide a platform that helps establish connection between consumers and vendors.

    Retrofix took the initiative to develop this platform observing overlooked gap in market.
    When it comes to house maintenance, Service consumers struggle to find suitable handymen for the general services.
    Similarly, highly skilled freelance service providers struggle to reach customers who would require their expertise.
    We help minimize this gap by simplifying communication and self-marketing strategy.
</p>
&nbsp;

    <li>
        Help Freelancer get extensive market exposure.
    </li>
    <li>
        Ease communication and business approach between customers and service provider.
    </li>
    <li>
        Enable Freelancer to self-marketing.
    </li>
    <li>
       	Promote competition for business in service market.
    </li>
    <li>
        Provide vast selection of option for services at ease for users who are not familiar with market.
    </li>
    <li>
        Establish skill recognition for individuals.
    </li>
    <li>
        Help improve un-employment in the country.
    </li>
