@page

<div class="text-center">
    <h1 class="display-4" style="background-color:yellow;">Personas</h1>
</div>

<h1>Persona A(service consumer)</h1>
<img style="display: block;-webkit-user-select: none;margin: 0%; background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
src="https://as2.ftcdn.net/v2/jpg/02/10/58/41/1000_F_210584153_3xJp8jpNUq370k9BZg9SyNAMMZt2DgJ7.jpg" width="200" height="200">
<ul>
    <li><b>Profile Name</b>: Ali khan</li>
    <li> <b>Mobile</b>: 0092566585487</li>
    <li><b>Email</b>: ali.57@live.com</li>
    <li><b>Area of residence</b>: DHA, karachi</li>
    <li><b>Age</b>: 35</li>
    </ul>
    <p></p>
    <p></p>

    <ul>
    Ali is mid-age Pakistani male, who lives in saudi arabia and works as accountant. Ali owns a house in karachi and loves spending time in country.
  <li>
      He travels to karachi for annual vacation and upon reaching home he encounters issues with A/C in the house.
      </li>
    <li>
        	He opens up the retrofix app.
    </li>
    <li>
        	Select option “submit request service”
    </li>
    <li>
        	Then a form open, he enters the type of service “A/c Maintenance”
    </li>
    <li>
        	He enters the description of problem “A/c is not providing cool air”
    </li>
    <li>
        	He selects option attach image “attach image of A/c”.
    </li>
    <li>
        	Selects the option for location and with help of maps marks the location of his house.
    </li>
    <li>
        	From service required time option he selects “immediate”
    </li>
    <li>
        	He waits for some time.
    </li>
    <li>
        	Receives message notifications from app.
    </li>
    <li>
        	Opens the app and find few offers from A/c technicians.
    </li>
    <li>
        	After review the offers selects the lowest offer by clicking on it and confirms service request.
    </li>
    <li>
        	Payment is deducted from his bank card.
    </li>
    <li>
        	Then through a private chat window in application he is connected with the service provider.
    </li>
    <li>
        	The service provider visits ali’s and fix the cooling problem of a/c.
    </li>
    <li>
        	Ali opens the app, confirms the job is completed and rate the service provide quality of service.
        </li>
    </ul>

    <h2>Persona B (service provider)</h2>
<img style="display: block;-webkit-user-select: none; margin: 0%; background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
src="https://as2.ftcdn.net/v2/jpg/01/25/68/37/1000_F_125683702_KzYgSIAUqhI6wmxNL49pgG6XafE3E5pO.jpg" width="200" height="200">
<ul>
<li> <b>Profile Name</b> :Masood ul ansari</li>
<li> <b>Mobile</b> :009271485898</li>
    <li> <b>Email</b> :masood.ua77@live.com</li>
    <li> <b>Area of residence</b> :Fb area, Karachi</li>
    <li> <b>Age</b> :40</li>
    <li> <b>Occupation</b> :Electrition</li>
    <li> <b>Work experience</b> :15 years </li>
</ul>
<p></p>
<p></p>
<ul>
    Maqsood is an electrician who live in Karachi. He has been working as freelance electrician for over 15 years and
    has remarkable expertise in electrical work field. Recently Maqsood is not able to acquire as many jobs as he wishes 
    to. He doesn’t have means/funds for marketing his skills. In need of market exposure,
    he registers on retrofix application as a service provider.
    <li>
        He downloads and opens the app.
    </li>
    <li>
       Selects the option to register as service provider
    </li>
    <li>
        A form open where he fills in the required information.
    </li>
    <li>
        After filling the required information Maqsood receives a message of successful registered.
    </li>
    <li>
        Maqsood starts to receive notifications for available jobs related to his scope of work.
    </li>
    <li>
        Maqsood submits prices for his man-hours that would be required.
    </li>
    <li>
        One of the customers accepts Maqsood prices and app allows and agreement of service
        between them. Allowing Maqsood to communicate with customer.
    </li>
    <li>
        Maqsood receives schedule and location of the work.
    </li>
    <li>
        Arrives on site following the instruction of app and executes the job order.
    </li>
    <li>
        Upon completion of the job Maqsood opens the app and mark the job as completed.
    </li>
    <li>
        Customer confirm the job is completed and Maqsood receives the agreed funds in his account on
        application which he can withdrawal to bank when required.
    </li>
</ul>