@page

<div class="text-center">
    <h1 class="display-4" style="background-color:mediumpurple;">Sketches</h1>
</div>

<div class="images-container">
   <img src="~/css/images/1st screen.png" width="300" height="600" class="img-thumbnail">
   </div>

   <ul> 
       <li>
           After opening the application this is the First screen user will see.
       </li>
       </ul>

<div class="images-container">
    <img src="~/css/images/2nd screen.png" width="300" height="600" class="img-thumbnail">

</div>

<ul>
    <li>
        If the user already have an account and choose to LOGIN then this is the 2nd screen user will see.
    </li>
</ul>

<div class="images-container">
    <img src="~/css/images/3rd screen.png" width="300" height="600" class="img-thumbnail">
</div>

<ul>
    <li>
        As a new user after clicking the signup botton, he wiil get two choices <b>consumer</b> or <b>provider</b>.
    </li>
</ul>

<div class="images-container">
    <img src="~/css/images/4th screen.png" width="300" height="600" class="img-thumbnail">
    <img src="~/css/images/5th screen.png" width="300" height="600" class="img-thumbnail">
</div>
&nbsp;
<p>
    If a user is a consumer then the information will gather according to the consumer and if the user is a provider then it
    will gather the information according to the provider as you can see in the screenshots of the application.
    Farther detail will be asked after creating account, like if a user is consumer then he will be ask according
    to it what kind of service he need and where does he need etc, same goes for provider but they will be ask 
    to provide there knowlegde and experince of the service whatever that be; they are going to provide to the consumer.
    
</p>