@page

<div class="text-center">
    <h1 class="display-4" style="background-color:DodgerBlue;">Technology &nbsp; / &nbsp; Framework</h1>
</div>

<h1> My Experience&Thoughts</h1>
<p>
    Their are many different types of frameworks but I will be using .NET and ReactJs for my Application.
    The technology that I will use in creating the Application is <b>HTML</b>, <b>CSS</b>, <b>Javascript</b>,
    <b>Bootstrap</b> and <b>C#</b>. Visual Studio is an integrated development environment which is very famous for .Net and many
        other different languages and frameworks. It has a good code completion highlighting syntax and
        hints which shows and errors or warnings as you are typing which are very helpful.
        It have predicted codes which makes work easy. It will be fun working on visual studio for this application 
        because the tech I have told you is much easier to use on this software as it provide all the essential features.
        Its not about the confident for me or anything I know or not about it, what intrigued me is as I start to create 
        something the challenge and research comes out of it, make realize on every point there is no end for tech&framework.
        
        </p>